<div class="movieCard card h-100">
    <img src="/img/mw1920_poster.png" alt="movie poster" class="card-img-top"/>
    <div class="card-body border-top">
        <div class="card-title fw-bold lh-1">
            Movie Title
        </div>
        <div class="card-text lh-1 fst-italic">
            Release Date: May 24, 2025
        </div>
    </div>
    <div class="movieCardFooter card-footer d-flex justify-content-between">
        <button class="btn btn-outline-primary">Add Fav</button>
        <a href="moviedetail" class="btn btn-primary">More Info</a>
    </div>
</div>

@code {

}
